/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "VT323", sans-serif;
    touch-action: none;
}

h1 {
    font-size: 3em;
}

label {
    font-size: 1.2em;
}

.div_container {
    display: grid;
    grid-template-columns: repeat(16, 10px);
}

.div_child {
    height: 10px;
    width: 10px;
    background-color: white;
    border-style: solid;
    border-color: grey;
    /* Simulates border-collapse */
    margin-top: -1px;
    margin-left: -1px;
}

.div_child_activated {
    background-color: black;
}

.div_child:hover {
    background-color: grey;
    cursor: pointer;
}

.grid_input, .size_input {
    padding: 10px;
}

.clear_button {
    margin-top: 10px;
}

.btn {
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 5px 10px 5px;
    border: 0;
    color: #3a4149;
    background: #e7ebee;
    line-height: 1.15;
    font-family: "VT323";
    font-size: 1.1em;
}
.btn:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}
.btn:active {
    background-color: darkgray;
    color: white;
}